@import url('https://fonts.googleapis.com/css2?family=Commissioner:slnt,wght,FLAR,VOLM@-12..0,100..900,0..100,0..100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.backGround{
    background-image: url(./assets/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
